{% extends 'base.html' %}
{% block content %}
  <h2 class="mb-4">Ustaw nowe hasło</h2>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="mb-3">
        <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Ustaw nowe hasło</button>
  </form>
{% endblock %} 