{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h2>Szczegóły zadania</h2>
    <table class="table table-bordered table-striped mt-3">
      <tbody>
        <tr>
          <th scope="row">Treść</th>
          <td>{{ task.content }}</td>
        </tr>
        <tr>
          <th scope="row">Priorytet</th>
          <td>{{ task.priority }}</td>
        </tr>
        <tr>
          <th scope="row">Termin</th>
          <td>{{ task.due_date }}</td>
        </tr>
      </tbody>
    </table>
    <a href="{% url 'task_list' %}" class="btn btn-secondary">Powrót do listy zadań</a>
  </div>
{% endblock %} 